[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  commend = commit --amend
[core]
  excludesFile = ~/.gitignore_global
  editor = vim
[user]
  email = jamal@compute-vm-2-2-20-ssd-1785261129551
  name = jamal
[credential]
  helper = store